@model VendaDeSementes.Models.ItemPedido

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>ItemPedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PedidoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
    <a class="waves-effect waves-light btn" asp-action="Edit" asp-route-id="@Model?.ID">Editar</a>
    <a class="waves-effect waves-light btn"  <a asp-action="Index">Voltar para lista</a>
</div>
